/* VARIABLES */
/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rokkitt", serif;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: var(--black);
  display: inline-block;
}

li {
  list-style: none;
}

p {
  line-height: 1.5;
}

section {
  padding-top: 60px;
}
@media (min-width: 576px) {
  section {
    padding-top: 100px;
  }
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 300px;
  }
}
@media (min-width: 480px) {
  .container {
    max-width: 500px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 991px) {
  .container {
    max-width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.btn {
  padding: 10px 40px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: var(--weight600);
  transition: all ease-in 0.3s;
}
@media (min-width: 1024px) {
  .btn {
    font-size: 20px;
  }
}

.btn-primary {
  padding: 10px 40px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: var(--weight600);
  transition: all ease-in 0.3s;
  background-color: #1C2530;
  color: #F7B661;
}
@media (min-width: 1024px) {
  .btn-primary {
    font-size: 20px;
  }
}

.btn-primary:hover {
  background-color: #F7B661;
  color: #1C2530;
}

.btn-secondary {
  padding: 10px 40px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: var(--weight600);
  transition: all ease-in 0.3s;
  background-color: #F7B661;
  color: #1C2530;
}
@media (min-width: 1024px) {
  .btn-secondary {
    font-size: 20px;
  }
}

/* Header */
header {
  padding-block: 15px;
}

.header {
  padding: relative;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.header__logo img {
  width: 150px;
}
.header__nav {
  background-color: #F7B661;
  padding: 70px 50px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.3s;
  user-select: none;
  z-index: 11;
}
@media (min-width: 576px) {
  .header__nav {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .header__nav {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    user-select: all;
    position: unset;
    background-color: transparent;
    top: unset;
    right: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .header__nav {
    gap: 30px;
  }
}
.header__nav .header__list--items {
  padding-block: 20px;
  color: #1C2530;
  font-weight: 600;
}
.header__nav .header__list--items a {
  font-size: 20px;
}
@media (min-width: 768px) {
  .header__nav .header__list--items a {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  .header__nav .header__list--items a {
    font-size: 20px;
  }
}
.header .header__nav.show {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  user-select: all;
}
@media (min-width: 576px) {
  .header__navigations .fa-bars {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .header__navigations .fa-bars {
    display: none;
  }
}
.header__navigations .fa-xmark {
  display: none;
  font-size: 30px;
  z-index: 10;
  position: absolute;
  top: 20px;
  right: 40px;
}
.header__donation {
  display: none;
}
@media (min-width: 991px) {
  .header__donation {
    display: block;
  }
}
.header .fa-xmark {
  font-size: 25px;
}

.banner {
  background-image: url("../assests/images/banner__img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding-block: 60px;
  position: relative;
  background-size: cover;
}
.banner__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4392156863);
  height: 100%;
}
@media (min-width: 576px) {
  .banner {
    padding-block: 100px;
  }
}
@media (min-width: 1024px) {
  .banner {
    padding-block: 200px;
  }
}
.banner__body {
  z-index: 9;
  position: relative;
}
@media (min-width: 768px) {
  .banner__body {
    width: 70%;
  }
}
.banner__head {
  margin-bottom: 20px;
}
.banner__head h1 {
  color: #F7B661;
  font-size: 30px;
}
@media (min-width: 576px) {
  .banner__head h1 {
    font-size: 40px;
  }
}
@media (min-width: 900px) {
  .banner__head h1 {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .banner__head h1 {
    font-size: 60px;
  }
}
.banner__text {
  margin-bottom: 20px;
}
.banner__text p {
  font-size: 20px;
  color: #fff;
}
@media (min-width: 576px) {
  .banner__text p {
    font-size: 25px;
  }
}
@media (min-width: 1024px) {
  .banner__text p {
    font-size: 30px;
  }
}
.banner__button .btn--primary {
  padding: 10px 30px;
  background-color: #F7B661;
  color: #1C2530;
}

.experiences__head {
  margin-bottom: 50px;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  position: relative;
}
@media (min-width: 576px) {
  .experiences__head {
    font-size: 2.5rem;
  }
}
.experiences__head:after {
  content: "";
  position: absolute;
  width: 120px;
  background-color: #F7B661;
  height: 4px;
  bottom: -3px;
  right: 50px;
}
@media (min-width: 480px) and (max-width: 576px) {
  .experiences__head:after {
    right: 120px;
  }
}
@media (min-width: 576px) {
  .experiences__head:after {
    width: 140px;
    right: 200px;
  }
}
@media (min-width: 1024px) {
  .experiences__head:after {
    right: 37%;
  }
}
.experiences__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 576px) {
  .experiences__row {
    gap: 0;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .experiences__row {
    justify-content: space-between;
  }
}
@media (min-width: 576px) {
  .experiences__col {
    width: 50%;
    padding-inline: 15px;
    padding-block: 10px;
  }
}
@media (min-width: 991px) {
  .experiences__col {
    width: 33.33%;
    padding-inline: 5px;
  }
}
.experiences__heading {
  font-size: 24px;
  font-weight: 600;
}
.experiences__cards {
  background-color: #eee;
  padding: 20px;
  border-radius: 20px;
}
@media (min-width: 576px) {
  .experiences__cards {
    max-height: 480px;
  }
}
.experiences__cards img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  max-width: 100%;
  display: inherit;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .experiences__text .machines label {
    padding-right: 15px;
  }
}
.experiences__text .course__name,
.experiences__text .machines {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.experiences__text .course__name label,
.experiences__text .machines label {
  width: 50%;
  color: #F7B661;
  font-weight: 600;
  font-size: 18px;
}
.experiences__text .course__name p,
.experiences__text .machines p {
  width: 50%;
}
@media (min-width: 991px) {
  .experiences__text .course__name p,
  .experiences__text .machines p {
    font-size: 15px;
  }
}

@media (min-width: 576px) {
  .intro__content p {
    font-size: 1.3rem;
  }
}

.poverty__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.poverty__images {
  order: 2;
}
@media (min-width: 1024px) {
  .poverty__images {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
  }
}
.poverty__social {
  position: relative;
  padding-inline: 10px;
}
.poverty__social img {
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .poverty__social img {
    max-height: 550px;
    filter: grayscale(1);
  }
}
.poverty__social .social__content {
  position: absolute;
  top: 50%;
  left: 17%;
  text-align: center;
  transform: translateY(100px);
  transition: all ease-in 0.3s;
  visibility: hidden;
  pointer-events: none;
  user-select: none;
}
.poverty__social .social__content p {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background-color: #F7B661;
  width: 40%;
  margin: 0 auto;
  max-width: 100%;
}
.poverty__social .social__content a {
  color: #F7B661;
  background-color: #fff;
  margin-top: 20px;
  padding-inline: 10px;
  font-size: 3rem;
}
.poverty__social:hover img {
  filter: grayscale(0);
}
.poverty__social:hover .social__content {
  transform: translateY(0px);
  visibility: visible;
  pointer-events: all;
  user-select: all;
}
.poverty__donation {
  order: 1;
}
@media (min-width: 576px) {
  .poverty__donation {
    text-align: center;
  }
}
.poverty__heading p {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .poverty__heading p {
    font-size: 2.5rem;
    line-height: 1.3;
  }
}
.poverty__heading p span {
  color: #F7B661;
}
.poverty__supportText {
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .poverty__supportText {
    font-size: 1.3rem;
    line-height: 1.3;
  }
}

.thankyou {
  padding-bottom: 60px;
  background-image: url("../assests/images/poverty__banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 576px) {
  .thankyou {
    padding-block: 100px;
  }
}
@media (min-width: 1024px) {
  .thankyou {
    padding-block: 200px;
  }
}
.thankyou__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3803921569);
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.thankyou__banner--content {
  z-index: 9;
  position: relative;
}
.thankyou__banner--content p {
  color: #fff;
  font-size: 1.2rem;
}
@media (min-width: 576px) {
  .thankyou__banner--content p {
    font-size: 2rem;
    text-align: center;
  }
}

.contactUS {
  background-image: url("../assests/images/contact__banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 100px;
}
.contactUS .banner__body {
  width: 100%;
}
.contactUS .banner__head {
  text-align: center;
}

.contactUs {
  padding-block: 60px;
}
.contactUs__wrapper {
  display: flex;
  gap: 30px;
}
.contactUs__rightside {
  width: 50%;
}
.contactUs__rightside--heading {
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
  color: #F7B661;
}
@media (min-width: 1024px) {
  .contactUs__rightside--heading {
    font-size: 38px;
  }
}
.contactUs__rightside--text {
  font-size: 17px;
  margin-block: 20px;
}
@media (min-width: 1024px) {
  .contactUs__rightside--text {
    font-size: 24px;
  }
}
.contactUs__head {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #1C2530;
  text-align: center;
  font-weight: 600;
}
@media (min-width: 768px) {
  .contactUs form {
    width: 40%;
  }
}
.contactUs form input,
.contactUs form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 14px 20px 14px 20px;
  border: 1px solid rgba(0, 0, 0, 0.356);
  outline: none;
  border-radius: 10px;
}
.contactUs form label {
  display: none;
}

.about__head {
  font-size: 2rem;
  color: #1C2530;
  margin-bottom: 20px;
}
.about__text--year, .about__text--type, .about__text--startup {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.about__text--year label, .about__text--type label, .about__text--startup label {
  width: 50%;
  color: #F7B661;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.about__text--year p, .about__text--type p, .about__text--startup p {
  font-size: 1.1rem;
  width: 50%;
}
.about__text--startup {
  margin-bottom: 20px;
}
.about__brief {
  font-size: 1.3rem;
}

.footer {
  background-color: #1C2530;
  position: relative;
}
@media (min-width: 1024px) {
  .footer {
    padding-bottom: 100px;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__right--side {
  width: 100%;
}
@media (min-width: 1024px) {
  .footer__right--side {
    width: 50%;
  }
}
.footer__heading {
  margin-bottom: 20px;
}
.footer__heading img {
  width: 200px;
}
.footer__content {
  margin-bottom: 20px;
}
.footer__content p {
  color: #fff;
  font-size: 1.2rem;
}
.footer__subscribe--form p {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}
.footer__subscribe--form .news__form input {
  padding: 14px 20px 14px 20px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}
.footer__subscribe--form .news__form a {
  color: #1C2530;
  background-color: #F7B661;
  padding: 14px 20px 14px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 4px solid #F7B661;
  transition: all ease 0.3s;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.footer__subscribe--form .news__form a:hover {
  background-color: transparent;
  border: 4px solid #F7B661;
  color: #F7B661;
}
.footer__banner {
  background-color: #F7B661;
  padding: 50px;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  margin-top: 100px;
  display: none;
}
@media (min-width: 576px) {
  .footer__banner {
    display: block;
    margin-top: 30px;
  }
}
@media (min-width: 1024px) {
  .footer__banner {
    width: 40%;
    margin-top: -100px;
  }
}
.footer__list--upper ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__list--upper ul li {
  font-size: 1.5rem;
  font-weight: 600;
  transition: all ease 0.3s;
}
.footer__list--upper ul li:hover {
  color: #3d5e87;
}
.footer__list--icons {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.footer__list--icons i {
  color: #1C2530;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease 0.3s;
}
.footer__list--icons i:hover {
  color: #3d5e87;
}

.training__table {
  padding: 50px;
  background-color: #1C2530;
}
.training__table--heading {
  font-size: 3rem;
  text-align: center;
  color: #F7B661;
  margin-bottom: 30px;
}
.training__table table {
  border-collapse: collapse;
  width: 100%;
  color: white;
  margin: auto;
}
.training__table th,
.training__table td {
  padding: 10px;
  text-align: center;
  border: 2px solid #F7B661;
}
.training__table th {
  font-size: 1.5em;
  color: #A5B4FC;
}
.training__table td {
  font-size: 1.2em;
}
@media screen and (max-width: 680px) {
  .training__table .table-container {
    display: none;
  }
}